
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-1">
            <div class="card-body">
                <h3 class="card-title text-white">Mitarbeiter Anzahl</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@ViewBag.staffCount</h2>
                    <p class="text-white mb-0">@DateTime.Now.ToString("MMMM.yyyy")</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-2">
            <div class="card-body">
                <h3 class="card-title text-white">Anzahl der Gäste</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@ViewBag.bookingCount</h2>
                    <p class="text-white mb-0">@DateTime.Now.ToString("MMMM.yyyy")</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-3">
            <div class="card-body">
                <h3 class="card-title text-white">Newsletter Anmeldungen</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@ViewBag.subscribeCount</h2>
                    <p class="text-white mb-0">@DateTime.Now.ToString("MMMM.yyyy")</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-newspaper-o"></i></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card gradient-4">
            <div class="card-body">
                <h3 class="card-title text-white">Offene Buchungen</h3>
                <div class="d-inline-block">
                    <h2 class="text-white">@ViewBag.notConfirmedCount</h2>
                    <p class="text-white mb-0">@DateTime.Now.ToString("MMMM.yyyy")</</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-plane"></i></span>
            </div>
        </div>
    </div>
</div>